POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=road_database
DATABASE_URL=postgresql+asyncpg://postgres:your_postgres_password@db:5432/road_database

CLOUD_ENDPOINT=
CLOUD_ACCESS_KEY=
CLOUD_SECRET_KEY=
BUCKET_NAME=